


.wrapper
{

    border:2px solid aqua;
    padding:5px;
    display: flex;
    height:100vh;
    align-items:flex-end;
    justify-content: space-around;
}



.wrapper div{

border:1px solid black;
margin:5px;
width: 200px;



}