


.wrapper
{

    border:2px solid aqua;
    padding:5px;
    display: flex;
    height:100vh;
    align-items:flex-end;
    justify-content: space-between;
}



.wrapper div{

border:1px solid black;
margin:5px;


}

.section1
{
    flex:3;

}

.section2
{

flex:2;

}
.section3
{

flex:1;

}